.App {
    text-align: center;
}

.Users {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 2px;
}

th {
    border-bottom: 3px double black;
    text-align: left;
}

.Users > tr {
    border-bottom: 1px solid black;
}

.NewUser {
    display: inline;
}

